.css-selector{
	font-family:'Open+Sans', sans-serif;
}

#container{
	width:980px;
	margin:auto;
	margin-top:0px;
	margin-bottom:0px;
	border:solid black 1px;
}

.header{
	background-image:url("https://github.com/ga-students/fewd-denver-2/blob/master/Week_02_Styling/Assignment/starter_code/images/header_bg.jpg?raw=true");
	background-repeat:no-repeat;
	height:700px;
	width:980px;
	color: rgb(255,255,255);
}

h1{
	font-color: white;
	font-size: 24px;
	font-weight:bold;
	margin-top:0;
}

h2{
	font-color: white;
	font-size: 24px;
	text-align:center;
}

#get_it_now{
	font-size:14px;
	font-weight:800;
	border-radius:5px;
	background-color:#f9e42e;
	text-align:center;
	margin-left:440px;
	width:100px;
}
#get_it_now a{
	color:black;
}

h3{
	font-size:20px;
	font-weight:600;
	margin-left:50px;
	margin-top:0;
}

#benefits{
	margin-left:0px;
	margin:0px;
	padding:0px;
	border:0;
	height:250px;
	background-color:#f0efef;
	font-size: 13px;
	font: inherit;
	vertical-align: baseline;
}

#quote{
	background-image:url(https://github.com/ga-students/fewd-denver-2/blob/master/Week_02_Styling/Assignment/starter_code/images/testimonial_bg.jpg?raw=true);
	background-repeat:no-repeat;
	height: 300px;
	margin-top:0;
	color:white;
	font-size:18px;
	font-weight:600;
}

#sign_up_now{
	background-color:#f9e42e;
	height:100px;
	font-size:12px;
	border-radius:5px;
	text-align:center;
	font-weight:800;
}
#sign_up_now a{
	color:white;
	background-color:#033048;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
	border-radius:5px;
}

footer{
	background-image: url("https://github.com/ga-students/fewd-denver-2/blob/master/Week_02_Styling/Assignment/starter_code/images/testimonial_bg.jpg?raw=true")
	height: 397px;
	color:white;
	font-size:30px;
	text-align:center;
	width:980px;
}

#relaxr{
	font-size: 24px;
	font-weight:800;
	color:#f9e42e;
}

.copyright{
	background-color:#121212;
	text-align:center;
	color:white;
	width:980px;
}

#copyright{
	color:white;
	font-size:9px;
	font-weight:600;
}

p{
	margin:0px;
	text-align:center;
	width:980px;
}

li{
	margin-left:50px;
	list-style-type: disc;
}

ul{
	margin-top:0;
}
